.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
.table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table th {
    padding: 12px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table tr.completed {
    background-color: #dcffe3
}
.btn-holder {
    margin-bottom: 15px;
}